*.o
*.swp
*.so
*rlnc_rs_check
*rlnc_example
*reed_solomon_example
logs/*
src/ZMQ/czmqlibs/*
src/ZMQ/zmqlibs/*


abdprocess
abdprocessc
src/abd/C/abd_server
src/abd/C/abd_client
src/logs/logs.txt
src/abd/C/libabd_shared.so
src/abd/C/abd_client
system_controller/system_management
*.a
*.la

system_controller/log*
massif*
callgrind*
